h1 {
	color:yellow;
	background-color:green;
	border-width:5px;
	font-family:Impact;
	font-style:italic;
}

p1 {
	color:blue;
	background-color:red;
	border-bottom-style:dashed;
	border-width:10px;
	font-family:Impact;
	font-style:italic;
	border-color:yellow;
	font-size:15px;
	
	
}
h2 {
	color:yellow;
	background-color:purple;
	font-family:Arial;

